@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.kp-container {
    @apply container mx-auto px-6;
}

.kp-section-header {
    @apply container text-2xl md:text-3xl font-bold mb-8 md:text-center;
}

.kp-section-text {
    @apply container text-base md:text-lg;
}

.kp-section-row {
    @apply md:flex md:space-x-10 md:space-y-0 space-y-10 items-center;
}

.kp-section-row-start {
    @apply md:flex md:space-x-10 md:space-y-0 space-y-6 items-start;
}

.kp-section-image {
    @apply w-full border-8 border-gray-100 p-4 object-scale-down shadow-lg hover:shadow-2xl transform hover:-translate-y-1;
}
.kp-section-image--dark {
    @apply w-full border-8 border-kc-black p-4 object-scale-down shadow-lg hover:shadow-2xl transform hover:-translate-y-1;
}

.kp-animation {
    @apply shadow-lg hover:shadow-2xl transform hover:-translate-y-1;
}

.kp-btn-outline {
    @apply focus:outline-none uppercase tracking-wider text-xl py-3 px-8 border hover:border-kc-orange hover:bg-kc-orange hover:text-gray-100 block md:inline-block shadow-lg hover:shadow-2xl transform hover:-translate-y-1;
}

.kp-btn {
    @apply focus:outline-none uppercase tracking-wider text-gray-100 text-xl py-3 px-8 hover:bg-kc-orange block md:inline-block shadow-lg hover:shadow-2xl transform hover:-translate-y-1;
}

.kp-btn-block {
    @apply block w-full;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    @variants focus, hover {
        .filter-none {
            filter: none;
        }
        .filter-grayscale {
            filter: grayscale(100%);
        }
    }
}

#hero-camp {
    background-image: url("/src/static/img/camp/1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-button {
    height: 60px;
    width: 60px;
    z-index: 9999;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#div-button {
    right: 92px;
}
