@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.kp-container {
  @apply container mx-auto px-6;
}

.kp-section-header {
  @apply container text-4xl md:text-6xl font-bold mb-8 md:text-center;
}

.kp-section-text {
  @apply container text-xl md:text-2xl;
}

.kp-section-row {
  @apply md:flex md:space-x-10 md:space-y-0 space-y-6 items-center;
}

.kp-section-row-start {
  @apply md:flex md:space-x-10 md:space-y-0 space-y-6 items-start;
}

.kp-section-image {
  @apply w-full border-l-8 border-t-8 pl-4 pt-4 object-scale-down filter-grayscale hover:filter-none focus:filter-none;
}

.kp-btn-outline {
  @apply focus:outline-none uppercase text-xl py-3 px-8 border hover:border-kp-pink hover:bg-kp-pink hover:text-white block md:inline;
}

.kp-btn {
  @apply focus:outline-none uppercase text-white text-xl py-3 px-8 hover:bg-kp-pink hover:shadow-lg block md:inline;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  @variants focus, hover {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }
}

#hero {
  background-image: url("/src/static/img/1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu-button {
  height: 60px;
  width: 60px;
  z-index: 9999;
  border-radius: 50%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#div-button {
  right: 92px;
}
