@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.kp-container {
    @apply container mx-auto px-6;
}

.kp-section-header {
    @apply container mb-8 text-3xl font-bold md:text-center;
}

.kp-section-text {
    @apply container text-base md:text-lg;
}

.kp-section-row {
    @apply items-center space-y-10 md:flex md:space-x-10 md:space-y-0;
}

.kp-section-row-start {
    @apply items-start space-y-6 md:flex md:space-x-10 md:space-y-0;
}

.kp-section-image {
    @apply w-full transform border-8 border-gray-100 object-scale-down p-4 shadow-lg hover:-translate-y-1 hover:shadow-2xl;
}
.kp-section-image--dark {
    @apply w-full transform border-8 border-kc-black object-scale-down p-4 shadow-lg hover:-translate-y-1 hover:shadow-2xl;
}

.kp-animation {
    @apply transform shadow-lg hover:-translate-y-1 hover:shadow-2xl;
}

.kp-btn-outline {
    @apply focus:outline-none block transform border rounded-3xl py-3 px-8 text-xl uppercase tracking-wider shadow-lg  hover:bg-gray-100 hover:text-gray-700 hover:shadow-2xl md:inline-block;
}

.kp-btn {
    @apply focus:outline-none block transform rounded-3xl py-3 px-8 text-xl uppercase tracking-wider text-gray-100 shadow-lg  hover:bg-black hover:text-white hover:shadow-2xl md:inline-block;
}

.kp-btn-block {
    @apply block w-full;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    @variants focus, hover {
        .filter-none {
            filter: none;
        }
        .filter-grayscale {
            filter: grayscale(100%);
        }
    }
}

#hero-camp {
    background-image: url("/src/static/img/camp/hero.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-button {
    height: 60px;
    width: 60px;
    z-index: 9999;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#div-button {
    right: 92px;
}
